.main
{
    height: 98vh;
    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
}

.left
{
    background-image: url(../Image_folder/back.png) ;
    /*control background image*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid green;
    height: 98vh;
    width: 40vw;
    position: relative;
}
.right
{
    /* border: 1px solid blue; */
    height: 98vh;
    width: 50vw;
    /* margin-left: 1%; */
    background-color:rgb(230, 227, 227);
}

.top_container
{
    background-color: black;
    opacity: 0.5;
    display: flex;
    padding: 2%;
    /* height: 30px; */
    position: relative;
    top: 20%;
    /* text-align: center; */
    align-items: center;
    justify-content: center;


}
.odin_image
{
    height: 200px;
}


@font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    }

.image_heading
{
    color: white;
    font-size:8lvh;
    font-family: 'UnifrakturCook', cursive;
}

.bottom_container
{
    display: flex;
    position: relative;
    top: 69%;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.top,
.middle,
.bottom{
    height: 32vh;
    /* margin-top:4px ; */
    /* border: 1px solid blue; */
    box-shadow: 0cqw;
    width: 57vw;
    padding-left: 7%;
    
}
.top
{
    position: relative;
}
.top > .content{
    position: absolute;
    top: 30%;
    /* margin-left: 7%; */
    font-size: larger;
    font-weight: bold;
    
}
.middle
{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
    /* margin-top: 3%; */
}
.middle > form >section
{
    display: flex;
    margin-bottom: 3%;
}

.middle > form >section > div
{
    margin-right: 7%;
}

.middle > form >section > div > input
{
    margin-top: 7%;
    width: 130%;
    margin-right: 6%;
}
.input_field
{
    display: flex;
    flex-direction: column;
}
.bottom > button{
    margin-top: 2%;
    border-radius: 13px;
}
.bottom > p > a
{
    color: chartreuse;
    text-decoration: none;
}